label {
	float: left;
	width: 115px;
}
#idimage {
	float: none;
}
#buttons {
	text-align: center;
}
#id8_spl {
	width: 430px;
}
#designation_decs{
	height: 100px;
	width: 510px;
}
#id1 {
	width: 865px;
}
#id4 {
	width: 160px;
}
#id6 {
	width: 335px;
}
#id8 {
	width: 510px;
}
#iddate {
	width: 200px;
}
.form-control {
	width: 250px;
}